{
	"$schema": "https://opencode.ai/tui.json",
	"plugin": [
		[
			"my-opencode-tps-tui1@latest",
			{
				"items": [
					"TPS",
					"AVG_TPS",
					"TOKEN",
					"TOTAL_TK",
					"TTFT",
					"AVG_TTFT",
					"DUR",
					"TOTAL_DUR",
					"STS"
				],
				"separator": "|",
				"countPrecision": 4,
				"secondPrecision": 0,
				"scope": "turn",
				"liveEstimate": true,
				"hideEmpty": false,
				"emptyText": "0",
				"colorize": true,
				"refreshLiveMs": 500,
				"refreshCountMs": 1000,
				"refreshClockMs": 1000,
				"toastOnComplete": false,
				"sts": {
					"idle": "Ready",
					"waiting": "Waiting...",
					"streaming": "Streaming...",
					"retrying": "Retrying #{n}...",
					"error": "Error",
					"unknown": "-"
				}
			}
		]
	]
}
